<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MacMirror</string>
	<key>CFBundleExecutable</key>
	<string>MacMirror</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.MacMirror</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to display a live preview.</string>
</dict>
</plist>

